{% extends 'base.html' %}
{% block content %}
<h1>Bulk Config Change</h1>
  <h2>Org List</h2>
  <form method="get">
    <input type="text" name="apikey" placeholder="API key here">
	<input type="text" name="orgID" placeholder="OrgID Here">
    <button type="submit" name="getorg">GetOrgList</button>
  </form>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
  {%for orgname, orgid in table%}
  <tr>
  <td>{{orgname}}</td>
  <td>{{orgid}}</td>  
  </tr>
  {%endfor%}
  </tbody>
  </table>
  <p>{{search}}</p>                                                                        
 {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="csvfile">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
    {% for profile in profiles %}
    {{profile.name}}
    {% endfor %}
  <div class="table-responsive">
	  <table class="table">
		  <thead>
			<tr>
			  <th scope="col">Serial</th>
			  <th scope="col">Network Name</th>
			  <th scope="col">Name</th>
			  <th scope="col">Tags</th>
			  <th scope="col">Notes</th>
			  <th scope="col">Address</th>
			  <th scope="col">IP</th>
			  <th scope="col">GW</th>
			  <th scope="col">Mask</th>
			  <th scope="col">DNS1</th>
			  <th scope="col">DNS2</th>
			  <th scope="col">VLAN</th>
			  <th scope="col">Net Tags</th>
			</tr>
		  </thead>
		  <tbody>
			  {% for i in pull%}
			  <tr>
				  <td>{{i.serial}}</td>
				  <td>{{i.networkname}}</td>
				  <td>{{i.name}}</td>
				  <td>{{i.tags}}</td>
				  <td>{{i.notes}}</td>
				  <td>{{i.address}}</td>
				  <td>{{i.ip}}</td>
				  <td>{{i.gw}}</td>
				  <td>{{i.mask}}</td>
				  <td>{{i.dns1}}</td>
				  <td>{{i.dns2}}</td>
				  <td>{{i.vlan}}</td>
				  <td>{{i.nettags}}</td>
			  </tr>
			  {% endfor %}
		  </tbody>
	  </table>  
  </div>
   <form method="get">
   <input type="text" name="apikey" placeholder="API key here">
	<input type="text" name="orgID" placeholder="OrgID Here">
	<button type="submit" name="preview" class="btn btn-primary">Preview Changes</button>
	<button type="submit" name="validate" class="btn btn-primary">Validate Changes</button>
	<button type="submit" name="Submit" class="btn btn-danger">Commit Changes</button>	
  </form>
 
{% endblock %}