{% extends 'base.html' %}
{% block content %}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
<div class="jumbotron">
{% if error %}
	<div class="alert alert-danger" role="alert">{{error}}</div>
{%endif%}
{% if messages %}
{% for message in messages %}
{%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
	<div class="alert alert-danger" role="alert">{{message}}</div>
{%endif%}
{%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
	<div class="alert alert-success" role="alert">{{message}}</div>
{%endif%}	
{%endfor%}
{%endif%}
<h1 class="display-4">Bulk Config Change</h1>
<hr class="my-4">
                                                                        
 {% if messages %}
        {% for message in messages %}
            <div>
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="csvfile">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
    {% for profile in profiles %}
    {{profile.name}}
    {% endfor %}
	  <div>
 <hr class="my-4"> 
  <form method="post">
    <select class="form-control" name="sendid">
	<option>Select Import</option>
	{%for i,j in bulk_name.items%}
	<option value={{j}}>{{i}}</option>
	{%endfor%}
  </select>
    <select class="form-control" name="orgid">
		<option>Select Org</option>
		{%for i,j in orgs.items%}
		<option value = {{j}}>{{i}}</option>
		{%endfor%}
	</select>
	<input type="text" name="revertname" placeholder="Name of Backup Here">
	<button type="submit" name="preview" class="btn btn-primary">Preview Changes</button>
	<button type="submit" name="validate" class="btn btn-primary">Validate Changes</button>
	<button type="submit" name="Commit" class="btn btn-danger">Commit Changes</button>
	<button type="submit" name="genrevert" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="If no import is select a full org backup will take place">BackupDevices</button>
	{%csrf_token%}
  </form>
  </div>
  </div>
  {%if pull%}
  <div class="table-responsive">
	  <table class="table table-bordered table-striped">
		  <thead class="thead-dark">
			<tr>
			  <th scope="col">Serial</th>
			  <th scope="col">Network Name</th>
			  <th scope="col">Name</th>
			  <th scope="col">Tags</th>
			  <th scope="col">Notes</th>
			  <th scope="col">Address</th>
			  <th scope="col">IP</th>
			  <th scope="col">GW</th>
			  <th scope="col">Mask</th>
			  <th scope="col">DNS1</th>
			  <th scope="col">DNS2</th>
			  <th scope="col">VLAN</th>
			  <th scope="col">Net Tags</th>
			</tr>
		  </thead>
		  <tbody>
			  {% for i in pull%}
			  <tr>
				  <td>{{i.serial}}</td>
				  <td>{{i.networkname}}</td>
				  <td>{{i.name}}</td>
				  <td>{{i.tags}}</td>
				  <td>{{i.notes}}</td>
				  <td>{{i.address}}</td>
				  <td>{{i.ip}}</td>
				  <td>{{i.gw}}</td>
				  <td>{{i.mask}}</td>
				  <td>{{i.dns1}}</td>
				  <td>{{i.dns2}}</td>
				  <td>{{i.vlan}}</td>
				  <td>{{i.nettags}}</td>
			  </tr>
			  {% endfor %}
		  </tbody>
	  </table>  
  </div>
  <p>Please Select the import you would like to load</p>
  <div>
  {%endif%}
  



{% endblock %}