{% extends 'base.html' %}
{% block content %}







<div class="jumbotron">
  <h1 class="display-4">Tooling Home</h1>
  <p class="lead">Welcome to tooling home, below you can find links to the respective tools that are part of this site</p>
  <hr class="my-4">
  {% if user.is_superuser %}
  <a class="btn btn-primary btn-lg" href="{% url 'apicheck' %}" role="button">Admin Tools</a>
  {%endif%}
  <a class="btn btn-primary btn-lg" href="{% url 'bulkchange' %}" role="button">Bulk Configuration</a>
  <a class="btn btn-primary btn-lg" href="{% url 'backup' %}" role="button">Backup/Restore Org</a>
</div>
{%endblock%}