{%extends 'base.html'%}
{%block content%}
<div class="jumbotron">
{% if messages %}
{% for message in messages %}
{%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
	<div class="alert alert-danger" role="alert">{{message}}</div>
{%endif%}
{%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
	<div class="alert alert-success" role="alert">{{message}}</div>
{%endif%}	
{%endfor%}
{%endif%}
<h1 class="display-4">{{user.username}}'s Profile</h1>
<hr class="my-4">
<p class="lead">Click below to change password<p>
<a class="btn btn-primary" href="{% url 'password_change' %}" role="button">Change Password</a>
<hr class="my-4">
<p class="lead">{{message}}</p>
<form method="post">
<input type="text" name="key" value="{{currentkey}}" placeholder="Please Enter your key">
<button type="submit" name="Subkey" class="btn btn-primary">Save Key</button>
{%csrf_token%}
</form>
{%if sub%}
<hr class="my-4">
<p class="lead">Delete submissions by selecting from the list</p>
<form method="post">
    <select class="form-control" name="subid">
	<option>-----</option>
	{%for i,j in sub.items%}
	<option value={{j}}>{{i}}</option>
	{%endfor%}
  </select>
  <button type="submit" name="Delete" class="btn btn-danger">Delete</button>
  {%csrf_token%}
</form>
<div>
{%endif%}
{%endblock%}

